@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
  }
  

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: white;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e4e4e7;
      border-radius: 100vh;
      border: 2px solid #f6f7ed;
      cursor: pointer;
      height: 10px;
      max-height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #e4e4e7;
    }
  }
  